 * {
     box-sizing: border-box;
 }
 
 .ECO5tabs {
     position: relative;  
 }
 
 .ECO5tabs .ECO5tabcontent .ECO5Setup {
     position: relative;
     display: inline-block;
     width: 270px;
     /* For browsers that do not support gradients */
     background: -webkit-linear-gradient(white, lightblue);
     /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(white, lightblue);
     /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(white, lightblue);
     /* For Firefox 3.6 to 15 */
     background: linear-gradient(white, lightblue);
     border-radius: 10px 0 0 0;
     font-weight: bold;
     font-size: 25px;
 }
 
 .ECO5tabs .ECO5tabcontent .ECO5Setup:before {
     content: "";
     position: absolute;
     top: 0;
     right: 0;
     border-width: 50px 20px 0px 0px;
     border-style: solid;
     border-color: transparent #fff transparent transparent;
 }
 
 .ECO5tabs .ECO5tabcontent .ECO5SetupNum {
     display: inline-block;
     width: 80px;
     font-weight: bold;
     font-size: 25px;
     color: #999;
     padding-right: 10px;
 }
 
 .ECO5tabs .content {
     float: left;
     height: 100%;
     width: 100%;
     background: -webkit-linear-gradient(to right bottom, white, white, #f2f2f2);
     /* For Safari 5.1 to 6.0 */
     background: -o-linear-gradient(to right bottom, white, white, #f2f2f2);
     /* For Opera 11.1 to 12.0 */
     background: -moz-linear-gradient(to right bottom, white, white, #f2f2f2);
     /* For Firefox 3.6 to 15 */
     background: linear-gradient(to right bottom, white, white, #f2f2f2);   
     border:2px solid lightgray;
     border-radius:10px;
 }
 
 .ECO5tabs .content .ECO5title {
     line-height: 50px;
     text-align: center;
 }
 
 .ECO5tabs .content .ECO5Table {
     padding: 20px;
 }

 .ECO5tabs .content .ECO5Table table {
     width: 220px;
     margin: auto;
 }
 
 .ECO5tabs .content .ECO5Table td {
     padding-top: 8px;
     padding-bottom: 5px;
 }
 
 .ECO5tabs .content .ECO5Table .ECO5TableBLine {
     border: 2px;
     border-bottom-style: groove;
 }
 
 .ECO5tabs .content .ECO5Table table tr td:first-child {
     width: 100px;
     font-weight: bold;
 }
 
 .ECO5tabs .content .ECO5Table select {
     color: #999;
     border-radius: 2px;
     font-weight: bold;
     padding: 2px;
     width: 120px;
 }
 
 .ECO5tabs .content .ECO5Table table .ECO5Table_Btn {
     text-align: center;
 }
 
 .ECO5tabs .content .ECO5Table table .ECO5Table_Btn button {
     color: #999;
     font-size: 15px;
     width: 60px;
     border-radius: 3px;
     background: -webkit-linear-gradient(to right bottom, white, white, lightgray);
     background: -o-linear-gradient(to right bottom, white, white, lightgray);
     background: -moz-linear-gradient(to right bottom, white, white, lightgray);
     background: linear-gradient(to right bottom, white, white, lightgray);
     margin-top: 5px;
     font-weight: bold;
 }
 
 .ECO5tabs .ECO5Status_ON {
     border: 1px groove;
     border-radius: 3px;
     padding: 3px;
     background-color: #85e085;
     color: white;
     font-weight: bold;
 }
 
 .ECO5tabs .ECO5Status_OFF {
     border: 1px groove;
     border-radius: 3px;
     padding: 3px;
     background-color: #ff4d4d;
     color: white;
     font-weight: bold;
 }
