<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ECOSMARTConnectionString" connectionString="Data Source=POWERSERVER-HP;Initial Catalog=ECOSMART;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="TESTConnectionString" connectionString="Data Source=SONYVPCCB15PINK\ECOSMART;Initial Catalog=TEST;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  <add name="ChartTestConnectionString" connectionString="Data Source=.;Initial Catalog=ChartTest;Integrated Security=True"
      providerName="System.Data.SqlClient" />
</connectionStrings>
